.app__contact-header {
  position: relative;
  z-index: 100000;
  h1 {
    @media screen and (max-width: 450px) {
      font-size: 24px;
    }
  }
}
.app__contact-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  // border: 1px solid red;
  margin-bottom: 1.5rem;
  margin-top: 20px;

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    background-color: var(--bg-grey);
    padding: 0.5rem 1rem;
    border-radius: 2px;
    min-width: 300px;

    margin: 0.5rem;
    .links {
      width: 100%;
      text-align: center;
      padding: 0 0.8rem;
      color: var(--light-);
      font-size: 0.8rem;

      a {
        text-decoration: none;
        font-size: 0.8rem;
        color: var(--light-text);
        width: 100%;
        padding: 0rem 1.2rem;
        // border: 1px solid red;
      }
    }

    img {
      width: 50px;
      height: auto;
      object-fit: cover;
    }
  }
}
.contact-form {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--links-text);
  margin: 1.8rem 0 5rem 0;
  padding: 2rem 2rem;
  border-radius: 8px;
  @media screen and (max-width: 450px) {
    padding: 0.5rem 2rem 1.5rem 2rem;
  }

  div {
    width: 320px;
    // border: 1px solid red;
    @media screen and (max-width: 450px) {
      max-width: 250px;
    }

    input,
    textarea {
      padding: 0.6rem 1rem;
      width: 100%;
      margin: 1.5rem 0rem;
      border: none;
      outline: none;
      border-radius: 4px;
      background-color: var(--bg-black);
      color: var(--light-text);
      resize: none;
    }
  }
  .btn {
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.3s ease;
    background-color: var(--main-bg);
    color: var(--light-color);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.125);
  }
}
.normal {
  font-size: 30px !important;
  text-align: center;
}

.links-section {
  display: flex;

  align-items: center;
  flex-direction: row;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
      color: var(--secondary-color);
      font-size: 2rem;
      margin: 1rem 1.8rem;
      transition: all 0.3s ease;
      opacity: 0.9;
      @media screen and (max-width: 450px) {
        font-size: 1.6rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
    h5 {
      color: var(--secondary-color);
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
.copyright {
  transform: translateY(30px);
  color: grey;
  display: flex;
  align-items: center;
  p {
    font-size: 0.7rem;
  }
}
